@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);
#color_bar {
  border-top: 4px solid #222; }

header {
  width: 960px; }
  header nav#top_nav {
    height: 30px;
    font-size: 15px;
    float: right;
    margin-right: -135px;
    margin-top: 10px; }
    header nav#top_nav ul {
      width: 700px;
      list-style-type: none;
      padding: 0px; }
      header nav#top_nav ul li {
        display: inline-block;
        padding-right: 10px;
        border-right: 1px solid black;
        text-align: center;
        vertical-align: text-top;
        margin-left: 10px; }
        header nav#top_nav ul li:last-child {
          margin-left: 0px;
          border-right: 0px; }
        header nav#top_nav ul li a {
          font-weight: thin;
          font-size: 12px;
          text-decoration: none;
          color: #222;
          transition: all .15s ease-in-out; }
          header nav#top_nav ul li a:hover {
            color: #AAA; }

header div#login_register {
  float: right;
  width: 120px;
  border: 1px solid black;
  position: absolute;
  top: 0px;
  left: 970px;
  background-color: #333; }
  header div#login_register p {
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    vertical-align: text-top;
    height: 100%; }
    header div#login_register p span {
      font-weight: lighter; }

header div#tagline h2 {
  font-size: 12px;
  font-weight: lighter; }

header div#nav_section_two {
  margin-top: 10px; }

header div#nav_section_two div#logo {
  width: 288px;
  height: 56px;
  background-image: url("http://static.awwwards.com/bundles/tvawwwards/images/logo.png");
  background-repeat: none;
  float: left;
  margin-right: 10px; }

header div#nav_section_two div#tagline {
  width: 426px;
  height: 26px;
  float: left;
  padding-top: 35px; }

header div#nav_section_three {
  height: 40px; }
  header div#nav_section_three ul {
    list-style-type: none;
    padding: 0px;
    padding-top: 20px;
    float: left; }
  header div#nav_section_three li {
    display: inline-block;
    padding: 10px; }
    header div#nav_section_three li:last-child {
      color: darkgreen; }
  header div#nav_section_three a {
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #222;
    transition: all .15s ease-in-out; }
    header div#nav_section_three a:hover {
      color: #AAA; }

header div#nav_section_three form input {
  background-color: #e4e6e5;
  float: right;
  margin-top: 25px;
  border: 1px solid #AAA;
  padding-left: 10px;
  color: #AAA; }

header div#nav_section_four {
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  height: 40px;
  width: 100%; }
  header div#nav_section_four ul#sub_nav {
    display: inline-block;
    list-style-type: none;
    vertical-align: text-top;
    float: right; }
    header div#nav_section_four ul#sub_nav li {
      display: inline-block;
      width: 140px;
      height: 25px;
      text-align: center;
      font-size: 12px;
      vertical-align: text-top;
      border-right: 1px solid #555;
      padding: 15px 0px 0px 0px;
      margin-left: -10px; }
      header div#nav_section_four ul#sub_nav li:last-child {
        border-right: 0px; }
      header div#nav_section_four ul#sub_nav li:hover {
        border-bottom: 1px solid #AAA; }
      header div#nav_section_four ul#sub_nav li a {
        text-decoration: none;
        color: #000; }

header div#nav_section_four ul#icon_set {
  display: inline-block;
  list-style-type: none;
  vertical-align: text-top;
  float: right; }
  header div#nav_section_four ul#icon_set li {
    display: inline-block;
    width: 50px;
    height: 25px;
    text-align: center;
    font-size: 12px;
    vertical-align: text-top;
    border-right: 1px solid #555;
    padding: 15px 0px 0px 0px;
    margin-left: -10px; }
  header div#nav_section_four ul#icon_set a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    transition: all .15s ease-in-out; }
    header div#nav_section_four ul#icon_set a:hover {
      color: #AAA; }

header ul {
  position: relative;
  top: -17px; }

#submit {
  color: #409f89; }

content {
  width: 960px;
  display: block;
  margin-top: 32.544px; }
  content a {
    font-size: 13px;
    color: #54AAAE;
    font-style: italic;
    text-decoration: none; }
  content section {
    width: 960px;
    height: 232.32px;
    display: block;
    position: relative;
    /*positioning section relative (but not moving) so that img#ribbon
    can be positioned absolutely */
    font-size: 13px; }
    content section img#ribbon {
      width: 60.48px;
      height: 123.3216px;
      position: absolute;
      left: -9.6px;
      top: 66px; }
    content section img {
      width: 373.44px;
      height: 232.32px;
      float: left; }
    content section #ratings {
      padding: 0 13.44px;
      list-style-type: none;
      width: 56.64px;
      height: 232.32px;
      float: left;
      margin-top: 0px; }
      content section #ratings li {
        height: 48.48px;
        width: 48.48px;
        border-radius: 60px;
        line-height: 47px;
        text-align: center; }
      content section #ratings li:nth-child(1) {
        border: 5px solid #df6c4f; }
      content section #ratings li:nth-child(2) {
        border: 5px solid #ecd06f; }
      content section #ratings li:nth-child(3) {
        border: 5px solid #409f89; }
      content section #ratings li:nth-child(4) {
        border: 5px solid #1c879c; }
    content section table {
      width: 497.28px;
      height: 224.64px;
      float: left;
      margin-bottom: 67.2px; }
      content section table th {
        text-align: left;
        text-transform: uppercase;
        padding-bottom: 7.99968px;
        font-weight: lighter; }
      content section table td {
        border-bottom: 1px solid #cbcecc;
        padding: 5px 0; }
        content section table td ul {
          list-style: none;
          padding: 0px;
          margin: 0px; }
          content section table td ul li {
            display: inline;
            padding: 0px;
            margin: 0px;
            border-radius: 55px;
            line-height: -1px;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 4px;
            text-align: center;
            color: white;
            padding-left: 4px; }
            content section table td ul li#number1 {
              background-color: #df6c4f; }
            content section table td ul li#number2 {
              background-color: #ecd06f; }
            content section table td ul li#number3 {
              background-color: #409f89; }
            content section table td ul li#number4 {
              background-color: #1c879c; }
  content #captions #football {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 558px; }
    content #captions #football a {
      font-weight: normal; }
  content #captions ul {
    list-style: none;
    position: absolute;
    right: 245px;
    top: 492px; }
    content #captions ul li {
      display: inline;
      font-size: 10px;
      text-transform: uppercase;
      color: gray; }
    content #captions ul li#dot1:before {
      color: #df6c4f; }
    content #captions ul li#dot2:before {
      color: #ecd06f; }
    content #captions ul li#dot3:before {
      color: #409f89; }
    content #captions ul li#dot4:before {
      color: #1c879c; }
    content #captions ul li:before {
      content: ".";
      font-size: 74px;
      font-family: Web; }

footer {
  padding-top: 12px; }
  footer ul {
    padding: 0; }
    footer ul :nth-child(4) {
      padding-right: 0px;
      margin-right: 0px; }
    footer ul li {
      display: inline-block;
      padding-right: 25px; }
      footer ul li p:first-of-type {
        font-size: 13px;
        font-weight: bold;
        color: #444444; }
      footer ul li p:nth-of-type(2) {
        font-size: 13px;
        color: #54AAAE; }

/* setting $wrapper_width variable to 960px
(peter) using this to express some content measurement
as percentage of $wrapper_width. */
html {
  background-color: #e4e6e5; }

body {
  font-family: "Raleway", sans-serif; }

#wrapper {
  width: 960px;
  margin: 0 auto; }

.clear {
  clear: both; }

.clear {
  clear: both; }
