@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);
header nav#top_nav ul {
  list-style-type: none;
  padding: 0px; }
  header nav#top_nav ul li {
    display: inline-block; }
    header nav#top_nav ul li a {
      text-decoration: none;
      color: #409f89; }

header div#login_register p {
  font-size: 12px;
  width: 120px;
  height: 30px;
  font-weight: bold;
  background-color: #333;
  color: #FFF; }
  header div#login_register p span {
    font-weight: thin; }

html {
  background-color: #e4e6e5; }

body {
  font-family: "Raleway", sans-serif; }

#wrapper {
  width: 960px;
  margin: 0 auto; }
