#color_bar
{
	border-top:4px solid #222;
}

header
{
	width:960px;
	// border:1px solid black;

	nav#top_nav
	{
		height:30px;
		font-size:15px;
		float:right;
		// border:1px solid black;
		margin-right:-135px;
		margin-top:10px;

		ul
		{	
			width:700px;
			list-style-type:none;
			padding:0px;
			// border:1px solid black;

			li
			{
				display:inline-block;
				padding-right:10px;
				border-right:1px solid black;
				text-align:center;
				vertical-align:text-top;
				margin-left:10px;

				&:last-child
				{
					margin-left:0px;
					border-right:0px;
				}

				

				a
				{
					font-weight:thin;
					font-size:12px;
					text-decoration:none;
					color:#222;
					transition:all .15s ease-in-out;

					&:hover
				{
					color:#AAA;
				}

			}

				
			}
		}
	}
}

header
{
	

	div#login_register{

		float:right;
		width:120px;
		// height:30px;
		border:1px solid black;
		// padding-top:-20px;
		position:absolute;
		top:0px;
		left:970px;
		background-color:#333;

		p
		{

			font-size:12px;
			font-weight:bold;
			color:#FFF;
			text-align:center;
			vertical-align:text-top;
			height:100%;
			// padding-top:-10px;

			span
			{
				font-weight:lighter;
			}
		}
	}
}

header
{
	div#tagline
	{
		h2
		{
			font-size:12px;
			font-weight:lighter;
		}
	}
}

header
{
	div#nav_section_two
	{

		margin-top:10px;
      
	}
}

header
{
	div#nav_section_two
	{

		div#logo
		{
			width:288px;
			height:56px;
			background-image:url('http://static.awwwards.com/bundles/tvawwwards/images/logo.png');
			background-repeat:none;
			float:left;
			margin-right:10px;
		}
	}
}

header
{
	div#nav_section_two
	{
		div#tagline
		{
			width:426px;
			height:26px;
			float:left;
			padding-top:35px;

		}
	}
}

header
{
	div#nav_section_three
	{
		height:40px;

		ul
		{
			list-style-type:none;
			padding:0px;
			padding-top:20px;
			float:left;
		}

		li
		{
			display:inline-block;
			padding:10px;

			&:last-child
			{
				color:rgb(000,100,000);
			}
		}

		a
		{
			font-size:15px;
			text-decoration:none;
			font-weight:bold;
			color:#222;
			transition:all .15s ease-in-out;

			&:hover
			{
				color:#AAA;
			}

		}
	}
}

header
{
	div#nav_section_three
	{
		form input
		{
			background-color:$background-color;
			float:right;
			margin-top:25px;
			border:1px solid #AAA;
			padding-left:10px;
			color:#AAA;
		}
	}
}

header
{
	div#nav_section_four
	{
		border-top:1px solid #AAA;
		border-bottom:1px solid #AAA;
		height:40px;
		width:100%;

		ul#sub_nav
		{
			display:inline-block;
			list-style-type:none;
			vertical-align:text-top;
			float:right;

			li
			{
				display:inline-block;
				width:140px;
				height:25px;
				text-align:center;
				font-size:12px;
				vertical-align:text-top;
				border-right:1px solid #555;
				padding:15px 0px 0px 0px;
				margin-left:-10px;

				&:last-child
				{
					border-right:0px;
				}

				&:hover
				{
					border-bottom:1px solid #AAA;
				}

				a
				{
					text-decoration:none;
					color:#000;
				}
			}
		}
	}
}

header
{
	div#nav_section_four
	{
		ul#icon_set	
		{	
			display:inline-block;
			list-style-type:none;
			vertical-align:text-top;
			float:right;

			li
			{
					display:inline-block;
				width:50px;
				height:25px;
				text-align:center;
				font-size:12px;
				vertical-align:text-top;
				border-right:1px solid #555;
				padding:15px 0px 0px 0px;
				margin-left:-10px;
			}
			a
				{
					text-decoration:none;
					color:#AAA;
					font-size:15px;
					transition:all .15s ease-in-out;
			
				&:hover
				{
					color:#000;
				}
				}

		}
	}
}

header
{
	ul
	{
		position:relative;
		top:-17px;
	}
}

#submit
{
	color:rgb(64, 159, 137);
}