@import 'colors';
@import 'fonts';
@import 'header';
@import 'content';
@import 'footer';

$wrapper_width: 960px;
/* setting $wrapper_width variable to 960px
(peter) using this to express some content measurement
as percentage of $wrapper_width. */

html
{
  background-color: $background_color;
}

body
{
  font-family: $normal_font;
}

#wrapper
{
  width: $wrapper_width;
  margin: 0 auto;
}


.clear
{
	clear:both;
}
.clear {
  clear: both;
}