@import 'colors';
@import 'fonts';
@import 'header';
@import 'content';
@import 'footer';


html
{
  background-color: $background_color;
}

body
{
  font-family: $normal_font;
}

#wrapper
{
  width: 964px;
  margin: 0 auto;
}